<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie GO! | Home</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>  
    <!--HEADER-->  
    <h1>
        <span>Movie</span><br/>
        <span>GO!</span>
    </h1>
    
    {{{ body }}}

    <footer>
        <p>Movie GO! © | 2022</p>
    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="/assets/homepage.js"></script>

  </body>
</html>