<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie GO! | Home</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>  
    <!--HEADER-->  
    <h1>
        <span>Movie</span><br/>
        <span>GO!</span>
    </h1>    

    <div class="fx-display">   
        <div class="pop1">
            <img src="/public/assets/popcorn-png-22.png" style="height: 300px;">
        </div>     
        <!--SLIDER IMAGE-->
        <div>
            <div class="slideshow-container">
                <div class="mySlides fade">                
                    <img src="/public/assets/AMC-Theatres.jpg" style="width:100%">
                </div>

            <div class="mySlides fade">        
            <img src="/public/assets/Cinemark_Theatres.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">        
            <img src="/public/assets/Megaplex_Theatres.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
        </div>
        <div class="pop2">
            <img src="/public/assets/popcorn-png-22.png" style="height: 300px;">
        </div>
    
    </div>

    <main>        
        <section class="fx-display">
            <!--LEFT SIDE-->
            <div class="selected-theatre">
                <div class="theatre-name">
                    <!--MOVIE THEATER SELECTED-->
                    <p>MOVIE THEATER SELECTED</p>
                </div>
                <div class="review">                    
                    <div>
                        <!--SELECTED MOVIE THEATER ADDRESS COMMENT/REVIEW-->
                        <p>User Name: "Review verbiage here." Rating: *** </p>
                    </div>
                    <div class="review-input">
                        <input type="text">
                    </div>
                </div>
            </div>
            <!--RIGHT SIDE-->
            <div class="theatre-address">
                <div>
                    <!--SELECTED MOVIE THEATER ADDRESSES-->
                    <p>MOVIE THEATER ADDRESS</p>
                    <ul>
                        <li>Salt Lake City</li>
                        <li>Taylorsville</li>
                        <li>Provo</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>Movie GO! © | 2022</p>
    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="/public/assets/script.js"></script>

  </body>
</html>