<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie GO! | Home</title>
    <link rel="stylesheet" href="css/foundation.css" />
  </head>
  <body>
    <header>
        <h1>Movie GO!</h1>
    </header>

    <div>
        <!--SLIDER IMAGE-->
    </div>

    <main>        
        <section>
            <!--LEFT SIDE-->
            <div>
                <div>
                    <!--MOVIE THEATER SELECTED-->
                </div>
                <div>                    
                    <div>
                        <!--SELECTED MOVIE THEATER ADDRESS COMMENT/REVIEW-->
                    </div>
                    <div>
                        <input type="text">
                    </div>
                </div>
            </div>
            <!--RIGHT SIDE-->
            <div>
                <div>
                    <!--SELECTED MOVIE THEATER ADDRESSES-->
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>