<div class="fx-display">   
    <div class="pop1">
        <img src="/public/assets/popcorn-png-22.png" style="height: 300px;">
    </div>     
    <!--CAROUSEL THEATRE IMAGE LOGOS-->
    <div>
        <div class="slideshow-container">
            <div class="mySlides fade">                
                <img src="/public/assets/AMC-Theatres.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">        
                <img src="/public/assets/Cinemark_Theatres.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">        
                <img src="/public/assets/Megaplex_Theatres.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
    </div>
    <div class="pop2">
        <img src="/public/assets/popcorn-png-22.png" style="height: 300px;">
    </div>    
</div>